---

version: 2

updates:

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    pull-request-branch-name:
      separator: "-"
    open-pull-requests-limit: 10

  # Documentation dependencies are managed manually by redocly
  - package-ecosystem: "npm"
    directory: "/docs/pages"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"
