# Default configuration

# Extra pre-declared entries
COMPOSE_PROJECT_NAME={{SERVICE_NAME}}

# ServiceName (string)
SERVICE_NAME={{SERVICE_NAME}}

### Logger

# Level (string)
LOG_LEVEL=info
# Output (string)
LOG_OUTPUT=stdout
# Format (string)
LOG_FORMAT=json

### Server

# Listen (string)
SERVER_LISTEN_HTTP=:8080
# ListenPprof (string)
SERVER_LISTEN_PPROF=:6060
# ReadTimeout (time.Duration)
SERVER_READ_TO=5s
# WriteTimeout (time.Duration)
SERVER_WRITE_TO=5s
