# Default configuration

# Extra pre-declared entries
COMPOSE_PROJECT_NAME={{SERVICE_NAME}}

# ServiceName (string)
SERVICE_NAME={{SERVICE_NAME}}

### Limits

# AutoMaxProcsEnabled (bool)
AUTOMAXPROCS_ENABLED=false
# MinMaxProcs (int)
MIN_MAXPROCS=1
# AutoMemLimitEnabled (bool)
AUTOMEMLIMIT_ENABLED=false
# MemLimitRatio (float64)
MEMLIMIT_RATIO=0.9

### Logger

# LogLevel (string)
LOG_LEVEL=info
# LogOutput (string)
LOG_OUTPUT=stdout
# LogFormat (string)
LOG_FORMAT=json

### Sentry

# DSN (string)
SENTRY_DSN=

### Server

# Listen (string)
SERVER_LISTEN_HTTP=:8080
# ListenPprof (string)
SERVER_LISTEN_PPROF=:6060
# ReadTimeout (time.Duration)
SERVER_READ_TO=5s
# WriteTimeout (time.Duration)
SERVER_WRITE_TO=5s
