# Default configuration

# Extra pre-declared entries
COMPOSE_PROJECT_NAME={{SERVICE_NAME}}

# ServiceName (string)
SERVICE_NAME={{SERVICE_NAME}}
# Environment (string)
ENVIRONMENT=

### Limits

# AutoMaxProcsEnabled (bool)
AUTOMAXPROCS_ENABLED=false
# MinMaxProcs (int)
MIN_MAXPROCS=1
# AutoMemLimitEnabled (bool)
AUTOMEMLIMIT_ENABLED=false
# MemLimitRatio (float64)
MEMLIMIT_RATIO=0.9

### Logger

# LogLevel (string)
LOG_LEVEL=info
# LogOutput (string)
LOG_OUTPUT=stdout
# LogFormat (string)
LOG_FORMAT=json

### Sentry

# DSN (string)
SENTRY_DSN=
# Debug (bool)
SENTRY_DEBUG=false
# Stacktrace (bool)
SENTRY_STACKTRACE=false
# SampleRate (float64)
SENTRY_SAMPLE_RATE=1.0

### Metrics

# Timeout (time.Duration)
METRICS_TIMEOUT=10s

### Pprof

# Enabled (bool)
PPROF_ENABLED=false
# Listen (string)
PPROF_LISTEN=:6060
# Prefix (string)
PPROF_PREFIX=/debug/pprof
# ReadTimeout (time.Duration)
PPROF_READ_TIMEOUT=5s
# WriteTimeout (time.Duration)
PPROF_WRITE_TIMEOUT=60s

### Server

# Listen (string)
SERVER_LISTEN=:8080
# ReadTimeout (time.Duration)
SERVER_READ_TIMEOUT=5s
# WriteTimeout (time.Duration)
SERVER_WRITE_TIMEOUT=5s
# StaticRoot (string)
SERVER_STATIC_ROOT=/usr/share/www
# SwaggerRoot (string)
SERVER_SWAGGER_ROOT=/usr/share/www/api

### Database

# Engine (string)
DATABASE_ENGINE=pgsql
# Host (string)
DATABASE_HOST=localhost
# Port (int)
DATABASE_PORT=5432
# User (string)
DATABASE_USER=user
# Password (string)
DATABASE_PASSWORD=qwerty
# Name (string)
DATABASE_NAME=goapp
# MigratePath (string)
DATABASE_MIGRATE_PATH=/migrate
# ConnMaxIdleTime (time.Duration)
DATABASE_CONN_MAX_IDLE_TIME=10m
# ConnMaxLifetime (time.Duration)
DATABASE_CONN_MAX_LIFETIME=30m
# MaxIdleConns (int)
DATABASE_MAX_IDLE_CONNS=10
# MaxOpenConns (int)
DATABASE_MAX_OPEN_CONNS=100
# QueryTimeout (time.Duration)
DATABASE_QUERY_TIMEOUT=10s
