# os
.DS_Store

# ide
.idea/
.vscode/

# ai
ai/index/
.crush/
.claude/
.gemini/
.mcp.json
.crush.json
.github/copilot-instructions.md
CLAUDE.md
AGENTS.md
CRUSH.md
GEMINI.md

# project
build/
.env
node_modules/
package.json
package-lock.json
