---

name: markdown-lint

# Markdown linter.
# @see https://github.com/DavidAnson/markdownlint

on:
  workflow_dispatch:
    inputs:
      runs_on:
        required: true
        type: string
        default: ubuntu-latest
        description: 'runs_on'
      continue_on_error:
        required: true
        type: boolean
        default: false
        description: 'continue_on_error'''
  workflow_call:
    inputs:
      runs_on:
        required: true
        type: string
      continue_on_error:
        required: true
        type: boolean

permissions: {}

jobs:
  markdown-lint:
    name: markdown-lint
    runs-on: ${{ inputs.runs_on }}
    continue-on-error: ${{ inputs.continue_on_error }}
    permissions:
      contents: read
    # ----
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
      - name: 'Run markdownlint'
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: etc/.markdownlint.yaml
          globs: |-
            README.md
            docs/**/*.md
