---

name: copilot-setup-steps

# This workflow is responsible for setting up the environment for Copilot.
# File must be named `copilot-setup-steps.yml` to be recognized.

on:
  workflow_dispatch:

jobs:
  copilot-setup-steps:
    name: copilot-setup-steps
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: ./.github/actions/ai-prepare-env
